@charset "UTF-8";

body {
  color: #454545;
  line-height: 130%;
  font-family: 'Trebuchet MS', 'Arial', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

a:link {
	color: #005585;
}

a:visited {
	color: #485270;
}

a:hover {
	color: #b83800;
}

a img {
  border: none;
}

p {
  margin: 10px 0;
}

#container {
  width: 876px;
  margin: 0 auto;
}

#header {
  display: block;
  width: 100%;
  height: 180px;
  text-align: center;
  padding-top: 60px;
}

#footer {
  display: block;
  clear: both;
  width: 100%;
  height: 80px;
}

#header h1 {
  font-size: 34px;
}

#header h1:before {
  content: url(../images/profile.png);
  position: relative;
  left: -13px;
  top: 15px;
}

.section {
  clear: both;
}

.box {
  clear: none !important;
  display: block;
  float: left;
  width: 240px;
  height: 240px;
  margin: 5px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px #888;
  position: relative;
}

.box:nth-child(2n) {
  background-color: white;
}
.box:nth-child(2n+1) {
  background-color: #444;
  color: white;
}

.box h2 {
  margin: 0 0 15px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

a.icon {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
}

#about img {
  display: block;
  float: left;
  margin-right: 10px;
}

#photo-gallery {
  width: 480px;
  background-color: #444;
  color: white;
}

ul.gallery {
  list-style: none;
  margin: 6px 20px;
  padding: 0;
}
ul.gallery li {
  display: block;
  position: relative;
  float: left;
	-webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
ul.gallery li a {
  float: left;
  padding: 5px 5px 12px 5px;
  background: #eee;
  border: 1px solid #fff;
  box-shadow: 0px 2px 15px #333;
  margin: 6px;
}

ul.gallery li .mask {
	width: 100%;
	background-color: #444;
	position: absolute;
	height: 100%;
	opacity: 0.4;
	cursor: pointer;
	-webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
ul.gallery li:hover {
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -o-transform: scale(1.8);
  -ms-transform: scale(1.8);
	box-shadow:0px 0px 30px #ccc;
  z-index: 1;
}
ul.gallery li:hover .mask {
  height: 0%;
  width: 0%;
	margin-left: 73px;
	margin-top: 55px;
}

#works {
  width: 292px;
  background-color: white;
  color: #454545;
}

#donation {
  width: 532px;
}

dl {
  margin: 2px 0 10px 5px;
}
dt {
  font-size: 18px;
  float: left;
}
dd {
  font-size: 15px;
  text-align: right;
  color: #666;
}

#works .footer {
  text-align: right;
  font-size: x-small;
}

#works dt a {
  text-decoration: none;
  color: #454545;
}
